*.elc
git-emacs
custom.*
.recentf
history
save-places
session.*
tramp
emacs-color-theme-solarized
auctex-*.tar.gz
auctex*/
auto-save-list.d/
.emacs.backups/
dvc/
emacs-dbgr/
python-mode/
ruby-mode/
cucumber.el/
org-mode/
ac-dict/
elpa/
auto-lang/
auto-complete-*/
auto-complete-*bz2
ac-comphist.dat
gnuplot-mode/
bookmarks
url/cookies
ESS/
emacs-calfw/
.org-id-locations
%backup%~
.*~
*~


pinard-Pymacs-5989046
yasnippet-0.6.1c
org-customize.el
